
@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8" />
    <title>A4 VNEXPRESS</title>
    <link href="~/CSS/Mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar ">
        <div class="main-bar"
            <div class="contact-left">
                <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v862/v2_2019/pc/graphics/logo.svg" alt="VnExpress - Bao tieng Viet nhieu nguoi xem nhat"><span><span>26 <sup>o</sup></span></span>
                <a>(0283) 123456 (HCM)</a>
                <a>(0243) 123456 (HN)</a>
                <button>Liên hệ quảng cáo </button>
                <button>Like</button>
                <button>Follow</button>
                <button>YouTube</button>

            </div>
           <div class=" login-right">
               <button>Đăng Ký</button>
               <button>Đăng Nhập</button>
               <input placeholder="Tìm Kiếm" />
            </div>
       </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Thời sự</a></li>
            <li><a href="#">Thế giới</a></li>
            <li><a href="#">Kinh doanh</a></li>
            <li><a href="#">Giải trí</a></li>
            <li><a href="#">Thể thao</a></li>
            <li><a href="#">Pháp luật</a></li>
            <li><a href="#">Giáo dục</a></li>
            <li><a href="#">Sức khỏe</a></li>
            <li><a href="#">Gia đình</a></li>
            <li><a href="#">Du lịch</a></li>
            <li><a href="#">Khoa học</a></li>
            <li><a href="#">Số hóa</a></li>
            <li><a href="#">Xe</a></li>
            <li><a href="#">Cộng đồng</a></li>
        </ul>

    </nav>


</body>


</html>
